.form__fieldset {
    border: none;
    margin: 0;
    padding: 0;
    width: 358px;
    margin-bottom: 16px;
}

@media (max-width: 650px) {
    .form__fieldset {
        margin-bottom: 16px;
        width: 238px;
    }
}